<h1>Resultados de la búsqueda</h1>

<%= form_tag('/buscar', method: 'get') do %>
  <%= text_field_tag :busqueda, params[:busqueda], placeholder: 'Buscar por título' %>
  <%= submit_tag 'Buscar' %>
<% end %>

<% if @posts.any? %>
  <ul>
    <% @posts.each do |publicacio| %>
      <li><%= link_to publicacio.title, publicacio %></li>
    <% end %>
  </ul>
<% else %>
  <p>No se encontraron publicaciones que coincidan con la búsqueda.</p>
<% end %>
