<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
<%= link_to 'Delete','/posts/delete/'+ @post.id.to_s, method: :delete%>
<%= link_to "Edit",edit_post_path(@post), method: :get%>
</div>
