.generic-button {
    appearance: none;
    background-color: rgb(0, 168, 70);
    border: 1px solid rgb(0, 168, 70);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.generic-button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.generic-button:hover {
    background-color: rgb(0, 143, 60);
}

.generic-button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.generic-button:disabled, .generic-button:disabled:active, .generic-button:disabled:focus {
    background-color: rgb(89,198,135);
    border-color: rgb(89,198,135);
    color: rgba(255, 255, 255);
    cursor: default;
}

.generic-button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}











.cancel-button {
    appearance: none;
    background-color: #ff0000; /* Cambia este valor a rojo */
    border: 1px solid #ff0000; /* Cambia este valor a rojo */
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.cancel-button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.cancel-button:hover {
    background-color: #ff002b; /* Cambia este valor a un tono más oscuro de rojo */
}

.cancel-button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.cancel-button:disabled, .generic-button:disabled:active, .generic-button:disabled:focus {
    background-color: rgb(89,198,135);
    border-color: rgb(89,198,135);
    color: rgba(255, 255, 255);
    cursor: default;
}

.cancel-button:active {
    background-color: #8e2900; /* Cambia este valor a un tono más oscuro de rojo */
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
