.form-label {
    display: block;
    padding: 16px 8px 8px 0;
    color: #495057;
}

.form-text {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 8px;
    color: #495057;
}

.form-text-field-input {
    width: 100%;
    padding: 8px 0;
    box-sizing: border-box;
    min-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    font-family: "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 22px;
    border-radius: 7.5px;
    outline: 1px solid rgba(73, 80, 87, 0.25);
    border: none;
    color: #495057;
}

.form-text-area-input {
    width: 100%;
    padding: 8px 0;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    font-family: "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 22px;
    border-radius: 7.5px;
    outline: 1px solid rgba(73, 80, 87, 0.25);
    border: none;
    max-width: 100%;
    min-height: 76px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #495057;
}

.form-file-field-input {
    width: 100%;
    box-sizing: border-box;
    min-height: 30px;
    font-size: 15px;
    font-family: "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 22px;
    border-radius: 7.5px;
    outline: 1px solid rgba(73, 80, 87, 0.25);
    border: none;
    max-width: 100%;
    color: #495057;
    cursor: pointer;
    padding-right: 12px;
}

.form-text-field-input:focus, .form-text-area-input:focus, .form-file-field-input:focus {
    box-shadow: rgba(241, 100, 30, 0.25) 0 0 0 3.75px;
}

.form-text-field-input:focus-visible, .form-text-area-input:focus-visible, .form-file-field-input:focus-visible {
    outline: 1px solid rgb(248, 178, 143);
}

.form-select-large {
    width: 300px;
    padding: 8px 12px;/* Puedes ajustar el tamaño según tus preferencias */
    font-size: 15px;
    font-family: "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    color: #495057;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 30px;
    outline: 1px solid rgba(73, 80, 87, 0.25);
    border: none;
    line-height: 22px;
    border-radius: 7.5px;
  /* Otros estilos que desees agregar */
}

.form-file-field-input::file-selector-button {
    background-color: rgb(248, 249, 250);
    color: #495057;
    font-family: "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 30px;
    padding: 8px 12px;
    line-height: 22px;
    outline: 1px solid rgba(73, 80, 87, 0.25);
    border: none;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    cursor: pointer;
    margin-right: 12px;
}

.form-file-field-input:hover::file-selector-button {
    background-color: rgb(233, 236, 239);
}