.avatar-image {
  max-width: 100px; /* Ajusta según tus necesidades */
  max-height: 100px; /* Ajusta según tus necesidades */
  position: absolute;
  top: 0;
  left: 0;
}

.banner-image {
  max-width: 100%; /* Se extiende al ancho del contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; /* Banner aparece detrás del avatar */
}

.images-container {
  position: relative;
}

.avatar-container,
.banner-container {
  position: relative;
  width: 100%; /* Ajusta según tus necesidades */
  height: 200px; /* Ajusta según tus necesidades */
}

.post-container {
  position: relative;
}

.post-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
