.form-page {
    display: block;
    box-sizing: border-box;
    max-width: 610px;
    margin: 0 auto; /* Center horizontally */
    font-size: 15px;
    line-height: 22px;
}

.form-page > * {
    box-sizing: border-box;
    max-width: 100%;
}

.profile-page {
    display: block;
    box-sizing: border-box;
    max-width: 900px;
    margin: 0 auto; /* Center horizontally */
    font-size: 15px;
    line-height: 22px;
}

.profile-page > * {
    box-sizing: border-box;
    max-width: 100%;
}