.communities-table {
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    font-size: 15px;
    text-align: left;
    font-family: "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    color: rgb(73, 80, 87);
}

.communities-table-head {
    font-weight: 400;
    color: rgb(73, 80, 87);
    vertical-align: bottom;
}

.communities-table-row {
    border-bottom: 1px solid rgb(73, 80, 87, 0.25);
}

.communities-table-hover-highlight:hover {
    background-color: rgb(239, 239, 239);
}

.communities-table-row > td, .communities-table-row > th {
    padding: 4px;
}

