<p style="color: green"><%= notice %></p>

<h1>Communities</h1>

<div id="communities">
  <% @communities.each do |community| %>
    <%= community.identifier %>
  <% end %>
  
 
</div>

<%= link_to "New community", new_community_path %>
